<!DOCTYPE html>
<html>
  <head>
    <style media="screen">
    body {
      background-color: lightblue;
    }
    h1 {
      font-family: Tahoma, Geneva, sans-serif;
      color: white;
      text-align: center;
      margin-right: 150px;
      margin-left: 150px;
    }
    h2 {
      color: navy;
    }
    h5 {
      font-family: Tahoma, Geneva, sans-serif;
      color: navy;
      text-align: center;
    }
    div.form {
      border-radius: 25px;
      border: 10px solid navy;
      padding: 30px;
      margin-right: 200px;
      margin-left: 200px;
      font-family: Tahoma, Geneva, sans-serif;
      text-align: center;
      vertical-align: text-top;
      background-color: lightgrey;
    }
    input {
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    }
    input[type=text] {
      outline: none;
      width: 14%;
      border-radius: 25px;
      border: 5px solid lightblue;
      padding: 10px;
      background-color: white;
      font-family: Tahoma, Geneva, sans-serif;
      font-size: 20px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
    }
    input[type=text]:focus {
      width: 75%;
    }
    input[type=submit] {
      outline: none;
      width: 14%;
      border-radius: 25px;
      border: 5px solid lightgreen;
      padding: 10px;
      background-color: white;
      color: navy;
      font-family: Tahoma, Geneva, sans-serif;
      font-size: 20px;
      font-weight: bold;
    }
    input[type=submit]:hover{
      background-color: lightgreen;
      border-radius: 25px;
      border: 5px solid navy;
      padding: 5px;
    }

    </style>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>I'm here to put forth my best efforts to assist you in your search for knowledge and truth.</h1>
        <br>
      <div class="form">
        <form method="GET" action="/results">
          <h2>What may I help you with today?</h2>
          <br>
          <div class="user_input">
            <input type="text" name="user_phrase" placeholder="Search...">
            <input type="submit" value="ASK">
          </div>
        </form>
      </div>
      <h5>Built by <a href="http://www.raoulkoopman.com" class="site-link" target="_blank">Raoul Koopman</a>
</h5>
  </body>
</html>
