<!DOCTYPE html>
<html>
  <head>
      <style media="screen">
      h1 {
        font-family: Tahoma, Geneva, sans-serif;
        color: white;
        text-align: center;
        margin-right: 150px;
        margin-left: 150px;
      }
      body {
        background-color: powderblue;
      }
      div.response {
        border-radius: 25px;
        border: 10px solid navy;
        padding: 30px;
        margin-right: 200px;
        margin-left: 200px;
        font-family: Tahoma, Geneva, sans-serif;
        color: navy;
        text-align: center;
        vertical-align: text-top;
        background-color: lightgrey;
      }
      div.new_question {
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 20px;
        color: navy;
        text-align: center;

      }
      input[type=submit] {
        outline: none;
        width: 10%;
        border-radius: 25px;
        border: 5px solid lightgreen;
        padding: 5px;
        background-color: white;
        color: navy;
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 20px;
        font-weight: bold;
      }
      input[type=submit]:hover{
        background-color: lightgreen;
        border-radius: 25px;
        border: 5px solid navy;
        padding: 5px;
      }
      div.response_footer{
        font-family: Tahoma, Geneva, sans-serif;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 200px;
      }
      p {
        font-size: 20px;
        font-weight: bold;
      }
      img {
        width: 500px;
        height: auto;
        border-radius: 25px;
        border: 5px solid navy;
      }
      </style>
      <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1> Here's that thing you probably didn't ask for! </h1>
    <div class="response">
      <p><%= @final_phrase %></p>
      <br>
      <%= @final_result %><br>
      <%if @test == "CorvImage"%>
        <img src="images/1953_chevrolet_corvette.jpg" alt="">
      <%elsif @test == "BMWImage"%>
        <img src="images/BMW-507-Roadster.jpg" alt="">
      <%elsif @test == "RobbinsQuote"%>
        <img src="images/tony_rob_quote.jpg" alt="">
      <%end%>
    </div>
    <br>
    <div class="new_question">
      <form method="GET" action="/">
        <label>Is there anything else I may assist you with?</label>
        <input type="submit" value="YES!">
      </form>
    </div>
  </body>
  <footer>
    <div class="response_footer">
        ... Never said I was good
    </div>
  </footer>
</html>
